//- general block's
//- chapter for all block's
include src/components/common/chapter/chapter

//- points for footer -> skills block
include src/components/common/points/points


//- content block's
//- including header components
include src/components/about/about
include src/components/profile/profile

//- including main components
include src/components/work-experience/education/education
include src/components/work-experience/experience/experience
include src/components/software/software

//- including footer components
include src/components/contact/contact
include src/components/skills/skills


//- launch content
include src/components/head/head
+headList
