mixin profileList(props)
  -var props = props || {}

  -
    var mockNormalText = 'Lorem ipsum dolors sit amet,' +
      'consectetuer adipiscing elit. Aenean commodo ligula eget' +
      'dolor. Aenean massa. Cum sociis natoque penatibus et' +
      'magnis dis parturient montes, nascetur ridiculus mus.' +
      'Donec quam felis, ultricies nec, pellentesque eu, pretium' +
      'quis, sem. Nulla consequat massa quis enum, Donec pede' +
      'justo, fringilla vel, aliquet nec, vukoutate eget, arcu.' +
      'In enim justo, rhoncus ut, imperdiet a, venenatis vitate,' +
      'justo. Nullam dictum felis eu'
  -var normalText = props.normalText || mockNormalText

  -
    var mockBoldText = 'pede mollis pretium. Integer ' +
      'tincidunt. Cras dapibus. Vivamus elementum semper nisi.' +
      'Aenean vulputate eleifend tellus. Aenean leo logula, ' +
      'porttitor eu, consequat vitae vitae, eleifend ac enim. ' +
      'Aliquanm lorem ante, dapibus in, viverra quis,  feugiat a, ' +
      'tellus. Phasellus viverra nulla ut metus varius loareet. ' +
      'Quisque rutrum.'
  -var boldText = props.boldText || mockBoldText

  //-

  section.profile
    +chapter('profile', 1)

    .profile__list
      blockquote.profile__content
        p.profile__content_normal-font= normalText
          span.profile__content_bold-font= boldText
