mixin headList
	doctype html
	html(lang="ru-RU")
		head
			//- SEO
			meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
			meta(name='Keywords', content='Full Stack Development, FSD, quest-1')
			meta(name='description', content='Best of the Best company on the \
				world for Web dev!')

			meta(name='viewport', content='width=device-width, initial-scale=1.0, \
			maximum-scale=1.0, user-scalable=no')

			link(rel='shortcut icon', type='image/x-icon', 
					href='src/assets/images/favicon.png')

			title maket-1
			
			//- CSS's		
			link(rel='stylesheet', href='src/styles.css')

			//- for webpack build
			//- script(src='src/dist/bundle.js' defer)

		//- building the project (mixin's)
		include ../content/content
