body
	main.content
		section.content__block.content__block-left.content__block-top
			//- header include
			+aboutList
			+profileList

		section.content__block.content__block-right.content__block-center
			//- main include
			+educationList([
				{
					paragraph: 'Paragraph Of paragraphist',
					comment: 'Feb 2022 - Jun 2022',
					description: 'universiti name',
					text: 'Lorem ipsum dolors sit amet, consectetuer adipiscing ' +
								'elit. Aenean commodo ligula eget dolor. Aenean massa. ' +
								'Cum sociis natoque penatibus et magnis dis parturient ' +
								'montes, nascetur ridiculus mus. Donec quam felis, ' +
								'ultricies nec, pellentesque.'
				},
				{
					paragraph: 'master as',
					comment: 'Jun 2022 - Jul 2022',
					description: 'technical name',
					text: 'Lorem ipsum dolors sit amet, consectetuer adipiscing ' +
								'elit. Aenean commodo ligula eget dolor.'
				},
				{
					paragraph: 'test chapter',
					comment: 'Jun 2022 - Jul 2022',
					description: 'test name',
					text: 'Lorem ipsum dolors sit amet, consectetuer adipiscing'
				}
			])

			+experienceList([
				{},
				{paragraph: 'master degree', description: 'universiti name'},
				{paragraph: 'master degree', comment: 'Jun 2022 - Jul 2022'},
				{paragraph: 'master degree', description: 'universiti name'}
			])

			+softwareList({photoshop: 85, illustrator: 62, indesign: 44,
										dreamweaver: 70, afterEffects: 51, htmlCss: 97})

		section.content__block.content__block-left.content__block-bottom
			//- footer include
			+contactList({address: 'Main Street, City town'})
			+skillsList({creative: 5, innovate: 7})
